<h1>SHOP</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @electronics["name"] %>
</p>

<img src="<%= @electronics["thumbnailImage"] %>" />
</br>

<img src="<%= @electronics["customerRatingImage"] %>" />
</br>
</br>
<p>
  <strong>Msrp:</strong>
  <%= @electronics["msrp"] %>
</p>

<p>
  <strong>Sale price:</strong>
  <%= @electronics["salePrice"] %>
</p>

<p>
  <strong>Description:</strong>
  <%= @electronics["shortDescription"] %>
</p>

<div class="form-button">
  <%= link_to "Purchase", add_purchase_path(product: {
  item_id: @electronics["itemId"],
  name: @electronics["name"],
  msrp: @electronics["msrp"],
  sale_price: @electronics["salePrice"],
  thumbnail_image: @electronics["thumbnailImage"],
  customer_rating_image: @electronics["customerRatingImage"]}),
  method: :post, class: "btn btn-large" %>
</div>

<div class="form-button">
  <%= link_to "Decline", shop_path, class: "btn btn-large" %>
</div>






