<div class="container-fluid jumbotron">
  <div class="row add-margin-top">
    <div class="text-center col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 ">
      <h3><%= @electronic["name"] %></h3>
      <hr />
    </div>
  </div>

  </br>

  <div class="text-center" >
    <div class="container-fluid">
      <div class="row">
        <div class= "col-xs-4 col-sm-4 col-md-5" id="droppable-decline" style="height: 200px;">
          PASS
        </div>
        <img src="<%= @electronic["thumbnailImage"] %>" class="draggable col-xs-4 col-sm-4 col-md-2"/>
        <div class= "col-xs-4 col-sm-4 col-md-5" id="droppable-accept" style="height: 200px;">
          BUY
        </div>
      </div>
    </div>
    <img src="<%= @electronic["customerRatingImage"] %>" />
    </br>
    </br>
    <small>list price:
      <% if @electronic["msrp"] == nil %>
        <strike><%= number_to_currency(@electronic["salePrice"] * 1.3) %></strike>
      <% else %>
        <strike><%= number_to_currency(@electronic["msrp"]) %></strike>
      <% end %>
    </small>
    <p>sale price: <span class="sale-price"><%= number_to_currency(@electronic["salePrice"])%></span></p>

    <!-- <p>
      <strong>Description:</strong>
      <%= @electronic["shortDescription"] %>
    </p> -->
  </div>
  <br />

  <div class="row">
    <div class="col-xs-3 col-xs-offset-1 col-sm-3 col-sm-offset-2 col-md-2 col-md-offset-3 vcenter">
      <div class="form-button">
         <%= link_to "Pass", add_decline_path(product: {
        item_id: @electronic["itemId"],
        name: @electronic["name"],
        msrp: @electronic["msrp"],
        sale_price: @electronic["salePrice"],
        short_description: @electronic["shortDescription"],
        thumbnail_image: @electronic["thumbnailImage"],
        customer_rating_image: @electronic["customerRatingImage"]}),
        method: :post, class: "btn btn-default btn-block btn-primary text-center decline" %>
      </div>
    </div>

    <div class="col-xs-4 col-sm-2 col-md-2 vcenter">
      <div id="DateCountdown" data-timer="21" style="width: 100%; margin: 0 auto">
      </div>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-2 vcenter">
      <div class="form-button">
        <%= link_to "Buy", add_purchase_path(product: {
        item_id: @electronic["itemId"],
        name: @electronic["name"],
        msrp: @electronic["msrp"],
        sale_price: @electronic["salePrice"],
        short_description: @electronic["shortDescription"],
        thumbnail_image: @electronic["thumbnailImage"],
        customer_rating_image: @electronic["customerRatingImage"]}),
        method: :post, class: "btn btn-default btn-block btn-primary text-center accept" %>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">

  var timer = $("#DateCountdown").TimeCircles( {
    count_past_zero: false,
    start_angle: 0,
    total_duration: 21
  } );

  function decline(unit, value, total) {
    console.log('total: ' + total);
    if (total <= 0) {
      console.log("auto click")
      $(function(){
        $('.decline').trigger('click');
      });
    };
  };

  timer.addListener(decline);


  function killTimer() {
    timer.destroy();
  }

  document.addEventListener("page:restore", function() {
    $(function(){
      $('.decline').trigger('click');
    });
  });

  $( ".draggable" ).draggable({
    drag: function( event, ui ) {}
  });

  $( ".draggable" ).draggable({
    revert: "invalid"
  });

  $( "#droppable-accept" ).droppable({
    drop: function( event, ui ) {
      $('.accept').trigger('click');
    }
  });

  $( "#droppable-decline" ).droppable({
    drop: function( event, ui ) {
      $('.accept').trigger('click');
    }
  });


</script>
