<div class="container-fluid jumbotron">
  <div class="row">
    <div class="text-center col-xs-8 col-md-6 col-md-offset-3">
      <h4><%= @electronic["name"] %></h4>
    </div>

    <div class="text-center col-xs-4 col-md-3">
      <div id="countdown">5</div>
    </div>
  </div>
  <div class="text-center">
    <img src="<%= @electronic["thumbnailImage"] %>" />
    </br>

    <img src="<%= @electronic["customerRatingImage"] %>" />
    </br>
    </br>
    <p>
      <strong>Msrp:</strong>
      <%= @electronic["msrp"] %>
    </p>

    <p>
      <strong>Sale price:</strong>
      <%= @electronic["salePrice"] %>
    </p>

    <!-- <p>
      <strong>Description:</strong>
      <%= @electronic["shortDescription"] %>
    </p> -->

    <div class="form-button">
      <%= link_to "Purchase", add_purchase_path(product: {
      item_id: @electronic["itemId"],
      name: @electronic["name"],
      msrp: @electronic["msrp"],
      sale_price: @electronic["salePrice"],
      short_description: @electronic["shortDescription"],
      thumbnail_image: @electronic["thumbnailImage"],
      customer_rating_image: @electronic["customerRatingImage"]}),
      method: :post, class: "btn btn-sm btn-primary" %>
    </div>

    <div class="form-button">
      <%= link_to "Decline", add_decline_path(product: {
      item_id: @electronic["itemId"],
      name: @electronic["name"],
      msrp: @electronic["msrp"],
      sale_price: @electronic["salePrice"],
      short_description: @electronic["shortDescription"],
      thumbnail_image: @electronic["thumbnailImage"],
      customer_rating_image: @electronic["customerRatingImage"]}),
      method: :post, class: "btn btn-sm btn-primary" %>
    </div>
  </div>
</div>

<script type="text/javascript">
  var seconds;
  var temp;
 
  function countdown() {
    seconds = document.getElementById('countdown').innerHTML;
    seconds = parseInt(seconds, 10);
 
    if (seconds == 1) {
      temp = document.getElementById('countdown');
      temp.innerHTML = '<a href="/add_decline">0!</a>';
      return;
    }
 
    seconds--;
    temp = document.getElementById('countdown');
    temp.innerHTML = seconds;
    timeoutMyOswego = setTimeout(countdown, 1000);
  } 
 
  countdown();
</script>